{"openapi":"3.1.0","info":{"title":"PeopleForce API","version":"3.0","description":"PeopleForce Public API v3.0\n\nNeed some help? support@peopleforce.io","termsOfService":"https://peopleforce.io/terms-and-conditions","contact":{"name":"API support","url":"https://help.peopleforce.io","email":"support@peopleforce.io"},"summary":""},"servers":[{"url":"https://app.peopleforce.io/api/public/v3"}],"paths":{"/employees":{"get":{"summary":"List employees","operationId":"get-employees","description":"Returns a list of employees.","parameters":[{"schema":{"type":"integer"},"in":"query","name":"ids[]","description":"Fitler people by IDs. Multiple IDs can be provided using an ampersand separated list. For example, ids[]=1&ids[]=2"},{"schema":{"type":"string"},"in":"query","name":"emails[]","description":"Filter people by emails. Multiple emails can be provided using an ampersand separated list. For example, emails[]=abc@gmail.com&emails[]=def@gmail.com"},{"schema":{"type":"string"},"in":"query","name":"employee_numbers[]","description":"Filter people by employee numbers. Multiple employee_numbers can be provided using an ampersand separated list. For example, employee_numbers[]=E001&employee_numbers[]=E002"},{"schema":{"type":"string","default":"active","enum":["active","all","employed","terminated","hired","probation"]},"in":"query","name":"status","description":"Filter people by status."},{"$ref":"#/components/parameters/Page-param"},{"schema":{"type":"string","format":"date","example":"2023-01-01"},"in":"query","name":"hired_on[gte]","description":"Filter people hired on or before this value."},{"schema":{"type":"string","format":"date","example":"2023-01-01"},"in":"query","name":"hired_on[lte]","description":"Filter people hired on or after this value."},{"schema":{"type":"integer"},"in":"query","name":"manager_id","description":"Filter people by their manager ID"},{"schema":{"type":"string"},"in":"query","name":"created_at[gte]","description":"Filter employees created on or after this value."},{"schema":{"type":"string"},"in":"query","name":"created_at[lte]","description":"Filter employees created on or before this value."},{"schema":{"type":"string"},"in":"query","name":"updated_at[gte]","description":"Filter employees updated on or after this value."},{"schema":{"type":"string"},"in":"query","name":"updated_at[lte]","description":"Filter employees updated on or before this value."}],"responses":{"200":{"description":"OK","content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeSimple"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"tags":["Employees"]},"post":{"summary":"Create an employee","operationId":"post-employees","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Employee"}}}}}}},"description":"Create an employee\n\nCustom Fields\n-------------\n\nYou can update employee custom fields by using the generated \"internal_name\" of the employee field that you have in PeopleForce. This unique field name is automatically generated when you create a custom field, and is returned by the GET /employee_fields endpoint.\n\nFor example if you have a field labelled \"Tax number\" in PeopleForce,it will autogenerated an internal name called \"tax_number\",  you can then use within your request along with other system attributes of the employee, for example \"first_name\"\n\n```JSON\n{\n  \"first_name\": \"Andrew\",\n  \"tax_number\": \"123123\"\n}\n```","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"employee_number":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"middle_name":{"type":"string"},"email":{"type":"string","format":"email"},"date_of_birth":{"type":"string","format":"date","pattern":"YYYY-MM-DD"},"hired_on":{"type":"string","format":"date","pattern":"YYYY-MM-DD"},"gender":{"type":"string","enum":["male","female"]},"mobile_number":{"type":"string"},"work_phone_number":{"type":"string"},"personal_email":{"type":"string"}},"required":["first_name","last_name"]}}},"description":""},"tags":["Employees"]}},"/employees/terminated":{"get":{"summary":"List terminated employees","operationId":"get-employees-terminated","description":"Return a list of terminated employees","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"tags":["Employees"],"parameters":[{"schema":{"type":"string","format":"date","example":"2023-01-01"},"in":"query","name":"terminated_on[gte]","description":"Filter on employees terminated on or before date."},{"schema":{"type":"string","format":"date","example":"2023-01-01"},"in":"query","name":"terminated_on[lte]","description":"Filter on employees terminated on or after date."},{"$ref":"#/components/parameters/Page-param"}]}},"/employees/anniversaries":{"get":{"summary":"List employee anniversaries","operationId":"get-employees-anniversaries","description":"Return a list of employees with anniversaries","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"tags":["Employees"],"parameters":[{"schema":{"type":"string","format":"date","example":"2023-01-01"},"in":"query","name":"date[gte]","description":"Filter on employee anniversaries on or before date."},{"schema":{"type":"string","format":"date","example":"2023-01-01"},"in":"query","name":"date[lte]","description":"Filter on employee anniversaries on or after date."},{"$ref":"#/components/parameters/Page-param"}],"x-stoplight":{"id":"8tietbh381c41"}},"parameters":[]},"/employees/birthdays":{"get":{"summary":"List employee birthdays","operationId":"get-employees-birthdays","description":"Return a list of employees with birthdays","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"tags":["Employees"],"parameters":[{"schema":{"type":"string","format":"date","example":"2023-01-01"},"in":"query","name":"date[gte]","description":"Filter employee birthdays or before this date."},{"schema":{"type":"string","format":"date","example":"2023-01-01"},"in":"query","name":"date[lte]","description":"Filter on employee birthdays on or after date."},{"$ref":"#/components/parameters/Page-param"}],"x-stoplight":{"id":"9fn4tc0kscnvn"}},"parameters":[]},"/employees/{employee_id}":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"Get an employee","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Employee"}}}}}}},"operationId":"get-employees-id","parameters":[],"description":"Get an employee","tags":["Employees"],"x-stoplight":{"id":"6fz009mjww7fg"}},"put":{"summary":"Update an employee","operationId":"put-employees-id","responses":{"200":{"description":"OK"}},"description":"Update an employee\n\n\nCustom Fields\n-------------\n\nYou can update employee custom fields by using the generated \"internal_name\" of the employee field that you have in PeopleForce. This unique field name is automatically generated when you create a custom field, and is returned by the GET /employee_fields endpoint.\n\nFor example if you have a field labelled \"Tax number\" in PeopleForce,it will autogenerated an internal name called \"tax_number\",  you can then use within your request along with other system attributes of the employee, for example \"first_name\"\n\n```JSON\n{\n  \"first_name\": \"Andrew\",\n  \"tax_number\": \"123123\"\n}\n```","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"first_name":{"type":"string"},"middle_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string","format":"email"},"date_of_birth":{"type":"string","format":"date","pattern":"YYYY-MM-DD"},"hired_on":{"type":"string","format":"date","pattern":"YYYY-MM-DD"},"gender":{"type":"string","enum":["male","female"]},"personal_email":{"type":"string","format":"email"},"mobile_number":{"type":"string"},"work_phone_number":{"type":"string"},"employee_number":{"type":"string"}}}}},"description":""},"tags":["Employees"],"x-stoplight":{"id":"hry4wr27iahqm"}}},"/employees/{employee_id}/leave_balances":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"List of employee leave balances","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeLeaveType"}}}}}}}},"operationId":"get-employees-id-leave_balances","description":"Return a list of employee leave types and balances for each","x-stoplight":{"id":"w87nfnr07le3q"},"tags":["Leaves"]}},"/employees/{employee_id}/dependents":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"List of employee dependents","tags":["Employees"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeDependent"}}}}}}}},"operationId":"get-employees-id-dependents","description":"Return dependents of an employee","x-stoplight":{"id":"whp2jz0qjx39z"}}},"/employees/{employee_id}/educations":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"List of employee educations","tags":["Employees"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeEducation"}}}}}}}},"operationId":"get-employees-id-educations","description":"Return educations of an employee","x-stoplight":{"id":"vid8kxuexpr92"}}},"/employees/{employee_id}/certifications":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"List of employee certifications","tags":["Employees"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeCertification"}}}}}}}},"operationId":"get-employees-certifications","description":"Return certifications of an employee","x-stoplight":{"id":"q2ztt0we5n13p"}}},"/employees/{employee_id}/emergency_contacts":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"List of employee emergency contacts","tags":["Employees"],"operationId":"get-employees-id-emergency_contacts","description":"Return emergency contacts of an employee","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeEmergencyContact"}}}}}}}},"x-stoplight":{"id":"d8f0vfih1ti61"}}},"/employees/{employee_id}/documents":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"List of employee documents","tags":["Employees"],"operationId":"get-employees-documents","description":"Returns documents of an employee","parameters":[{"schema":{"type":"number"},"in":"query","name":"document_folder_id","description":"Filter by document folder"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeDocument"}}}}}}}},"x-stoplight":{"id":"mjr0o4jkknrgi"}},"post":{"summary":"Create an employee document","operationId":"post-employee_documents","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EmployeeDocument"}}}}}}},"description":"Create a document for an employee","tags":["Employees"],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"document_folder_id":{"type":"integer"},"name":{"type":"string"},"document":{"description":"A parameter that can accept either a binary string or a base64-encoded string is a versatile input option that can accommodate different data formats","oneOf":[{"x-stoplight":{"id":"tnheyaqxzm48g"},"format":"binary"},{"x-stoplight":{"id":"aa97qlivtz9rs"},"example":"data:application/pdf;name=TestResume.pdf;base64,xxxxx"}],"type":"string"},"url":{"type":"string","format":"uri","description":"Required is creating an external link to a document"}},"required":["document_folder_id","name"]}}}},"x-stoplight":{"id":"z4inhrl3uwjty"}}},"/employees/{employee_id}/field_histories":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"List of employee field histories","tags":["Employees"],"operationId":"get-employees-field-histories","description":"Returns the history of an employees historical field","parameters":[{"schema":{"type":"string"},"in":"query","name":"employee_field_internal_name","description":"Internal name of the employee field"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeFieldHistory"}},"metadata":{"$ref":"#/components/schemas/Pagination","x-stoplight":{"id":"7cvhn6j3mxfcb"}}}}}}}},"x-stoplight":{"id":"8cd67r5k3gc25"},"x-internal":false}},"/employees/{employee_id}/salaries":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"List employee salaries","tags":["Employees"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeSalary"}}}}}}}},"operationId":"get-employees-id-salaries","description":"Return salaries of an employee"},"post":{"summary":"Create an employee salary","operationId":"post-employees-id-salary","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmployeeSalary"}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["effective_on","amount","per","currency_code"],"properties":{"effective_on":{"type":"string","format":"date","pattern":"YYYY-MM-DD"},"amount":{"type":"number"},"per":{"type":"string","enum":["day","month","hour","year","week"]},"currency_code":{"type":"string"},"overtime":{"type":"boolean","x-stoplight":{"id":"rrm8gcyyp05dv"}},"comment":{"type":"string","x-stoplight":{"id":"o3xwi8cmmt2um"}},"pay_schedule_id":{"type":"integer","x-stoplight":{"id":"k0ujlp6edur54"}}}}}},"description":""},"tags":["Employees"],"description":"Create a salary for an employee"}},"/employees/{employee_id}/salaries/{id}":{"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true,"description":"Employee salary ID"},{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"put":{"summary":"Update an employee salary","operationId":"put-employees-id-salaries","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmployeeSalary"}}}}},"tags":["Employees"],"description":"Updates an employee salary","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"effective_on":{"type":"string","x-stoplight":{"id":"1i85juqmjol3m"},"format":"date","pattern":"YYYY-MM-DD"},"amount":{"type":"number","x-stoplight":{"id":"92g7jcfv2crk5"}},"per":{"type":"string","x-stoplight":{"id":"80mimna1gvzs2"}},"currency_code":{"type":"string","x-stoplight":{"id":"ns92q23rvc1wl"}},"overtime":{"type":"boolean","x-stoplight":{"id":"gd3x8t6dp29g5"}},"comment":{"type":"string","x-stoplight":{"id":"qn5ch5h8b8xpe"}},"pay_schedule_id":{"type":"integer","x-stoplight":{"id":"d3ogtql4qlx65"}}}}}}}},"delete":{"summary":"Delete an employee salary","operationId":"delete-employees-employee_id-salaries-id","responses":{"204":{"description":"No Content"}},"tags":["Employees"],"description":"Delete an employee salary"}},"/employees/{employee_id}/holidays":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"List employee holidays","tags":["Employees"],"operationId":"get-employees-id-holidays","description":"Return holidays of an employee","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Holiday"}},"metadata":{"$ref":"#/components/schemas/Pagination","x-stoplight":{"id":"3u1y0fklhiyy9"}}}}}}},"parameters":[{"schema":{"type":"string","format":"date","pattern":"YYYY-MM-DD"},"in":"query","required":true,"name":"starts_on"},{"schema":{"type":"string","pattern":"YYYY-MM-DD","format":"date"},"in":"query","name":"ends_on","required":true},{"$ref":"#/components/parameters/Page-param"}],"x-stoplight":{"id":"a5zchuc3eo4g3"}}},"/employees/{employee_id}/assets":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"List employee assets","tags":["Employees"],"operationId":"get-employees-id-assets","x-stoplight":{"id":"1ite46h0q8uu8"}}},"/employees/{employee_id}/notes":{"parameters":[{"schema":{"type":"string"},"name":"employee_id","in":"path","required":true}],"get":{"summary":"List employee notes","tags":["Employees"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeNote"}}}}}},"operationId":"get-employees-id-notes","description":"Return notes of an employee"},"post":{"summary":"Create an employee note","operationId":"post-employees-id-notes","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","x-examples":{"Example 1":{"data":{"id":8,"body":"Some good text","created_at":"2023-07-17T16:37:57.802Z","updated_at":"2023-07-17T16:37:57.818Z","author":{"id":16,"first_name":"Andrew","last_name":"Smith","email":"assignable_2@example.com"}}}},"properties":{"data":{"type":"object","properties":{"id":{"type":"integer"},"body":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"created_by":{"type":"object","x-stoplight":{"id":"hs9f67mdevgxi"},"properties":{"id":{"type":"integer"},"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string"}}}}}}},"examples":{"Example 1":{"value":{"data":{"id":10,"body":"Some good text","created_at":"2023-07-17T16:37:57.802Z","updated_at":"2023-07-17T16:37:57.818Z","author":{"id":16,"first_name":"John","last_name":"Smith","email":"email@example.com"}}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}}}}},"x-examples":{"Example 1":{"success":false,"errors":[{"message":"text is required"}]}}},"examples":{"Example 1":{"value":{"success":false,"errors":[{"message":"text is required"}]}}}}}}},"description":"Create a note for an employee","requestBody":{"content":{"application/json":{"schema":{"type":"object","x-examples":{"Example 1":{"text":"Some good text","author_id":16}},"properties":{"body":{"type":"string","x-stoplight":{"id":"g3c2xap2cfgly"}},"created_by_id":{"type":"integer","x-stoplight":{"id":"35lntr2wybbeh"}}},"required":["body"]}}}},"tags":["Employees"]}},"/leave_requests":{"get":{"summary":"List leave requests","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/LeaveRequest"}}}}}}}},"operationId":"get-leave-requests","description":"Returns a list of leave requests.  The leave requests are reutrned sorted by the starting date of the leave request, with the most recent appearing last.","parameters":[{"schema":{"type":"integer"},"in":"query","name":"employee_ids[]","description":"Return results filtered by these specified employee IDs. Multiple employe IDs can be provided using an ampersand separated list. For example, employee_ids[]=1&employee_ids[]=2"},{"schema":{"type":"string","enum":["pending","approved","rejected","withdrawn"]},"in":"query","name":"states[]","description":"Return results where states are filtered by these specified states. Multiple states can be provided using an ampersand separated list. For example, states[]=approved&states[]=pending"},{"schema":{"type":"string","format":"date","example":"2023-01-01"},"in":"query","name":"starts_on","description":"Return results where leave requests start greater than or equal to this value."},{"schema":{"type":"string","format":"date","example":"2023-01-01"},"in":"query","name":"ends_on","description":"Return results where leave requests end less than or equal to this value."},{"$ref":"#/components/parameters/Page-param"},{"schema":{"type":"integer","format":"int64","example":1683557122},"in":"query","name":"created_at[gt]","style":"form","description":"Return results where the created_at field is greater than this value.  Value should be a valid Unix timestamp."},{"schema":{"type":"integer","format":"int64","example":1683557122},"in":"query","name":"created_at[lt]","description":"Return results where the created_at field is less than this value. Value should be a valid Unix timestamp."},{"schema":{"type":"integer","format":"int64","example":1683557122},"in":"query","name":"updated_at[gt]","description":"Return results where the updated_at field is greater than this value. Value should be a valid Unix timestamp."},{"schema":{"type":"integer","example":1683557122,"format":"int64"},"in":"query","name":"updated_at[lt]","description":"Return results where the updated_at field is less than this value. Value should be a valid Unix timestamp."}],"tags":["Leaves"],"requestBody":{"content":{}}},"post":{"summary":"Create a leave request","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaveRequest"}}}}},"operationId":"create-leave-request","description":"Creates a leave request","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["employee_id","leave_type_id","starts_on","ends_on"],"properties":{"employee_id":{"type":"integer","description":"The ID of an existing employee that leave request will be created for."},"leave_type_id":{"type":"integer","description":"The ID of an existing leave type that the leave request will be created for.  The employee must have a policy of this leave type assigned to them."},"starts_on":{"type":"string","format":"date","example":"2023-01-01","description":"The starting date of the total duration of the leave request."},"ends_on":{"type":"string","format":"date","example":"2023-01-01","description":"The ending date of the total duration of the leave request."},"description":{"type":"string","description":"Details about the leave request (eg. reason for leave)"},"leave_request_entries":{"type":"array","items":{"type":"object","properties":{"occurs_on":{"type":"string","format":"date","example":"2023-01-01"},"amount":{"type":"number"}}}},"skip_approval":{"type":"boolean","x-stoplight":{"id":"m4bmr3ngdcp7t"},"description":"If set to true, approvals for the leave type policy will be skipped and the leave request will be created as approved."}}},"examples":{"example-1":{"value":{"employee_id":1,"leave_type_id":1,"starts_on":"2022-11-15","ends_on":"2022-11-16","description":"Awesome leave request","leave_request_entries":[{"occurs_on":"2022-11-15","amount":8},{"occurs_on":"2022-11-16","amount":8}]}}}}},"description":""},"parameters":[],"tags":["Leaves"]}},"/leave_requests/{id}":{"parameters":[{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"delete":{"summary":"Delete a leave request","operationId":"delete-leave-request","responses":{"204":{"description":"No Content"}},"x-stoplight":{"id":"db87fudy9cvjs"},"tags":["Leaves"]},"get":{"summary":"Get a leave request","tags":["Leaves"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/LeaveRequest","x-stoplight":{"id":"8gwk6se3g8rwf"}}}}}}}},"operationId":"get-leave-request","x-stoplight":{"id":"434myee3p2vu4"},"description":"Retrieve the detailed info about an existing time off request."}},"/leave_requests/pending":{"get":{"summary":"List pending leave requests","tags":["Leaves"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/LeaveRequest"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-pending-leave-requests","description":"Returns a list of pending leave requests","parameters":[{"$ref":"#/components/parameters/Page-param"}]}},"/leave_adjustments":{"post":{"summary":"Create a leave adjustment","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object"}}}}},"operationId":"create-leave-adjustment","description":"Creates a leave adjustment","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["employee_id","leave_type_id","occurred_on","amount"],"properties":{"employee_id":{"type":"integer","x-stoplight":{"id":"u5roz4oexs1mf"},"description":"The ID of an existing employee that leave adjustment will be created for."},"leave_type_id":{"type":"integer","description":"The ID of an existing leave type that the leave request will be created for.  The employee must have a policy of this leave type assigned to them."},"occurred_on":{"type":"string","format":"date","example":"2023-01-01","x-stoplight":{"id":"p10atxxglclxh"}},"amount":{"type":"number","example":1.5,"x-stoplight":{"id":"7po8r6wkv9qos"},"format":"float"},"description":{"type":"string","description":"Details about the leave adjustment"}}},"examples":{"example-1":{"value":{"employee_id":1,"leave_type_id":1,"occurred_on":"2022-11-15","amount":1.5,"description":"Awesome leave request"}}}}},"description":""},"parameters":[],"tags":["Leaves"],"x-stoplight":{"id":"3fnoshdx1190g"}},"parameters":[]},"/employees/{employee_id}/tasks":{"parameters":[{"schema":{"type":"string"},"name":"employee_id","in":"path","required":true}],"get":{"summary":"List employee tasks","operationId":"get-employees-id-tasks","description":"Returns a list of tasks assigned to a employee","tags":["Employees"],"parameters":[{"$ref":"#/components/parameters/Page-param"}],"x-stoplight":{"id":"rqqmay6mnffgq"}}},"/employees/{employee_id}/skills":{"parameters":[{"schema":{"type":"string"},"name":"employee_id","in":"path","required":true}],"get":{"summary":"List employee skills","operationId":"list-employees-skills","description":"Returns a list of skills assigned to a employee","tags":["Employees"],"parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["id","level","skill"],"properties":{"id":{"type":"integer","x-stoplight":{"id":"2qtsesd57mf4f"}},"level":{"type":"string","x-stoplight":{"id":"m44z70hg99y6h"},"enum":["interested","basic","proficient","expert"]},"skill":{"type":"object","x-stoplight":{"id":"uh164ymd4v9d7"},"required":["id","name"],"properties":{"id":{"type":"integer","x-stoplight":{"id":"fgi9fya9z0ou2"}},"name":{"type":"string","x-stoplight":{"id":"yyrefkttyee0r"}}}}}}}}}},"x-stoplight":{"id":"6oyvu2uqlzcub"}},"post":{"summary":"Create an employee skill","operationId":"post-employees-skills","responses":{"200":{"description":"OK"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"skill_id":{"type":"integer","x-stoplight":{"id":"a60w0h7pcog6z"}},"level":{"type":"string","x-stoplight":{"id":"mpjogyhgts4n3"},"enum":["interested","basic","proficient","expert"]}},"required":["skill_id","level"]}}}},"tags":["Employees"],"x-stoplight":{"id":"30m5bo4y1l5w8"}}},"/employees/{employee_id}/skills/{id}":{"parameters":[{"schema":{"type":"string"},"name":"employee_id","in":"path","required":true},{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"put":{"summary":"Update an employee skill","tags":["Employees"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","x-stoplight":{"id":"t3jn2fqro83ui"}},"level":{"type":"string","x-stoplight":{"id":"yp6k2fcunjakc"}}}}}}}},"operationId":"put-employees-skills","x-stoplight":{"id":"4u0p9npq91abo"},"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["level"],"properties":{"level":{"type":"string","x-stoplight":{"id":"o34xs37r5gg94"}}}}}}}},"delete":{"summary":"Delete an employee skill","tags":["Employees"],"responses":{"204":{"description":"No Content"}},"operationId":"delete-employees-skills","x-stoplight":{"id":"mw8wqkev4j66i"}}},"/employees/{employee_id}/tables/{internal_name}":{"parameters":[{"schema":{"type":"string"},"name":"employee_id","in":"path","required":true},{"schema":{"type":"string"},"name":"internal_name","in":"path","required":true,"description":"Internal name generated by system"}],"get":{"summary":"Get an employee table","operationId":"get-employee-table","description":"Returns the row level data of an employee table stored against an employee.","tags":["Employees"],"parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["id","internal_name","name"],"properties":{"id":{"type":"integer","x-stoplight":{"id":"olr9g0vceddsr"},"description":"Employee table ID"},"internal_name":{"type":"string","x-stoplight":{"id":"h3df0fshr39j4"}},"name":{"type":"string","x-stoplight":{"id":"wg0uxxa94xx3m"}},"description":{"type":"string","x-stoplight":{"id":"pyvacncpx3qh5"}},"rows":{"type":"array","x-stoplight":{"id":"u0qfejsgbsep6"},"items":{"x-stoplight":{"id":"erlrsxbg48ils"},"type":"object","required":["id"],"properties":{"id":{"type":"integer","x-stoplight":{"id":"nf34kpdqbtif2"},"description":"Employee table row ID"},"columns":{"type":"object","x-stoplight":{"id":"t2ddt2my6mluy"},"description":"Returns an object that represents a key value value for each column value pair of each row of the employee table. Columns are shown using key of their internal name\r\n\r\n```json json_schema\r\n{\r\n  \"text\": \"Name\",\r\n  \"date_select\": \"2024-01-01\",\r\n  \"single_select\": {\r\n    \"id\": 3,\r\n    \"value\" \"Option 3\"\r\n  },\r\n  \"multi_select\": [\r\n      { \r\n          \"id\": 123,\r\n          \"value\": \"A\"\r\n      },\r\n      {\r\n          \"id\": 124,\r\n          \"value\": \"B\"\r\n      }\r\n  ],\r\n  \"number\": 3,\r\n  \"hr_manager\": {\r\n      \"id\": 100,\r\n      \"full_name\": \"Andrew Smith\", \r\n      \"email\": \"andrew@peopleforce.io\"\r\n  },\r\n  \"has_drivers_license\": true\r\n}\r\n```"},"created_at":{"type":"string","x-stoplight":{"id":"bcude33k6vq3m"},"format":"date-time"},"updated_at":{"type":"string","x-stoplight":{"id":"cosut2djdgpcv"},"format":"date-time"}}}}}}}}}},"x-stoplight":{"id":"bce122r4jh43q"},"requestBody":{"content":{}}}},"/employees/{employee_id}/tables/{internal_name}/rows":{"parameters":[{"schema":{"type":"string"},"name":"employee_id","in":"path","required":true},{"schema":{"type":"string"},"name":"internal_name","in":"path","required":true,"description":"Internal name generated by system"}],"post":{"summary":"Create an employee table row","tags":["Employees"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","x-stoplight":{"id":"sea94ymqi111s"},"properties":{"id":{"type":"integer","x-stoplight":{"id":"6z65g89mispn4"}}}}}}}}}},"operationId":"create-employee-table-row","x-stoplight":{"id":"w92plfavk2mi6"},"description":"Create a row to an employees data table","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"internal_name":{"type":"string","x-stoplight":{"id":"trlqt6u5ihf98"}}}}}},"description":"Each parameter sent in request is mapped to the internal name generated by the table column name.  \n\neg. For adding a row to an employee table called Pets\n\n{\n    \"name\": \"Ruby\",\n    \"gender\": \"1\",\n    \"hobbies\": [\"4\", \"5\"],\n    \"age\": \"5\"\n}\n\nSingle select and multi select column types should use option ID values from the Get an employee table endpoint"}}},"/employees/{employee_id}/tables/{internal_name}/rows/{id}":{"parameters":[{"schema":{"type":"string"},"name":"employee_id","in":"path","required":true},{"schema":{"type":"string"},"name":"internal_name","in":"path","required":true,"description":"Internal name generated by system"},{"schema":{"type":"string"},"name":"id","in":"path","required":true,"description":"Row ID of the employee table row"}],"delete":{"summary":"Delete an employee table row","tags":["Employees"],"responses":{"204":{"description":"No Content"}},"operationId":"delete-employees-employee_row","x-stoplight":{"id":"0p1so1bw8dskr"}},"put":{"summary":"Update an employee table row","tags":["Employees"],"responses":{"200":{"description":"OK"}},"operationId":"put-employee-table-rows-id","x-stoplight":{"id":"cty4rp1lb0ip1"},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"internal_name":{"type":"string","x-stoplight":{"id":"46ij42m0ge4cj"}}}}}},"description":"Each parameter sent in request is mapped to the internal name generated by the table column name.  \n\neg. For adding a row to an employee table called Pets\n\n{\n    \"name\": \"Ruby\",\n    \"gender\": \"1\",\n    \"hobbies\": [\"4\", \"5\"],\n    \"age\": \"5\"\n}\n\nSingle select and multi select column types should use option ID values from the Get an employee table endpoint"}}},"/tasks":{"get":{"summary":"List tasks","operationId":"get-tasks","description":"List all tasks relevant across your company","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Task"}}}}}}}},"tags":["Tasks"],"parameters":[{"schema":{"type":"boolean","default":false},"in":"query","name":"completed","description":"(Optional) \"true\" or \"false\".  Default is \"false\""},{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create a task","operationId":"post-tasks","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Task"}}}}}}},"description":"Creates a task for an employee to complete","tags":["Tasks"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the task to be completed"},"description":{"type":"string","description":"Detailed description of what is to be completed. This is HTML friendly"},"employee_id":{"type":"integer","description":"Assigned employee of the task"},"starts_on":{"type":"string","description":"Date of when the task will start. Defaults to today's date","format":"date"},"ends_on":{"type":"string","format":"date","description":"Optional date of when the task will end"}},"required":["name","employee_id"]}}},"description":""}}},"/tasks/{id}/complete":{"parameters":[{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"put":{"summary":"Complete a task","operationId":"put-tasks-id","responses":{"200":{"description":"OK"}},"tags":["Tasks"]}},"/tasks/{id}/incomplete":{"parameters":[{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"put":{"summary":"Incomplete a task","operationId":"put-tasks-id-incomplete","responses":{"200":{"description":"OK"}},"tags":["Tasks"]}},"/locations":{"get":{"summary":"List locations","tags":["Locations"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Location"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-locations","description":"","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create a location","operationId":"post-locations","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Location"}}}}},"tags":["Locations"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"time_zone":{"type":"string"}},"required":["name"]}}}}}},"/divisions":{"get":{"summary":"List divisions","tags":["Divisions"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Division"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-divisions","description":"","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create a division","operationId":"post-divisions","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Division"}}}}},"tags":["Divisions"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"}}}}}}},"parameters":[]},"/divisions/{id}":{"parameters":[{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"put":{"summary":"Update a division","operationId":"put-divisions-id","responses":{"200":{"description":"OK"}},"tags":["Divisions"],"description":"","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"}}}}}}},"delete":{"summary":"Delete a division","operationId":"delete-divisions-id","responses":{"204":{"description":"No Content"}},"tags":["Divisions"]}},"/employment_types":{"get":{"summary":"List employment types","tags":["Employment types"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmploymentType"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-employment_types","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create an employment type","operationId":"post-employment_types","responses":{"201":{"description":"Created"}},"tags":["Employment types"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"}}}}}}}},"/employment_types/{id}":{"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true}],"put":{"summary":"Update an employment type","operationId":"put-employment_types-id","responses":{"200":{"description":"OK"}},"tags":["Employment types"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"}}}}},"description":""}},"delete":{"summary":"Delete an employment type","operationId":"delete-employment_types-id","responses":{"204":{"description":"No Content"}},"tags":["Employment types"]}},"/departments":{"get":{"summary":"List departments","tags":["Departments"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Department"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-departments","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create a department","operationId":"post-departments","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Department"}}}}},"tags":["Departments"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"parent_id":{"type":"integer"},"manager_id":{"type":"integer"}},"required":["name"]}}}}}},"/departments/{id}":{"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true}],"put":{"summary":"Update a department","operationId":"put-departments-id","responses":{"200":{"description":"OK"}},"tags":["Departments"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"parent_id":{"type":"integer"},"manager_id":{"type":"integer"}},"required":["name"]}}}}},"delete":{"summary":"Delete a department","operationId":"delete-departments-id","responses":{"204":{"description":"No Content"}},"tags":["Departments"]}},"/holiday_policies":{"get":{"summary":"List holiday policies","tags":["Holidays"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/HolidayPolicy"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-holiday_policies","description":"","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create a holiday policy","operationId":"post-holiday_policies","responses":{"201":{"description":"Created"}},"tags":["Holidays"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"country_code":{"type":"string"}},"required":["name","country_code"]}}}}}},"/holiday_policies/{id}":{"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true}],"put":{"summary":"Update a holiday policy","operationId":"put-holiday_policies-id","responses":{"200":{"description":"OK"}},"tags":["Holidays"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"country_code":{"type":"string"}}}}}}},"delete":{"summary":"Delete a holiday policy","operationId":"delete-holiday_policies-id","responses":{"204":{"description":"No Content"}},"tags":["Holidays"]}},"/leave_types":{"get":{"summary":"List leave types","tags":["Leaves"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/LeaveType"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-leave_types","parameters":[{"$ref":"#/components/parameters/Page-param"}]}},"/positions":{"get":{"summary":"List positions","tags":["Positions"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Position"}},"metadata":{"$ref":"#/components/schemas/Position"}}}}}}},"operationId":"get-positions","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create a position","operationId":"post-positions","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Position"}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"}}}}}},"tags":["Positions"]}},"/positions/{id}":{"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true}],"put":{"summary":"Update a position","operationId":"put-positions-id","responses":{"200":{"description":"OK"}},"tags":["Positions"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"}}}}},"description":""}},"delete":{"summary":"Delete a position","operationId":"delete-positions-id","responses":{"204":{"description":"No Content"}},"tags":["Positions"]}},"/skills/{id}":{"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true}],"delete":{"summary":"Delete a skill","operationId":"delete-skills","responses":{"204":{"description":"No Content"}},"x-stoplight":{"id":"2qb3tua7fi7ao"},"tags":["Skills"],"description":"Delete a skill"}},"/holidays":{"get":{"summary":"List holidays","tags":["Holidays"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Holiday"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-holidays","parameters":[{"schema":{"type":"string","format":"date"},"in":"query","name":"starts_on"},{"schema":{"type":"string","format":"date"},"in":"query","name":"ends_on"},{"schema":{"type":"integer"},"in":"query","name":"location_ids[]"},{"schema":{"type":"integer"},"in":"query","name":"holiday_policy_ids[]"},{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create a holiday","operationId":"post-holidays","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Holiday"}}}}},"tags":["Holidays"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"holiday_policy_id":{"type":"string"},"occurs_on":{"type":"string","format":"date"}},"required":["name","holiday_policy_id","occurs_on"]}}}}}},"/skills":{"get":{"summary":"List skills","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Skill"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-skills","parameters":[{"$ref":"#/components/parameters/Page-param"}],"x-stoplight":{"id":"kuiyb5ssc8khx"},"description":"List all skills across your company","tags":["Skills"]},"post":{"summary":"Create a skill","operationId":"post-skills","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Skill"}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"}}}}}},"x-stoplight":{"id":"c7g428hrjvd41"},"tags":["Skills"],"description":"Create a skill"},"parameters":[]},"/recruitment/vacancies":{"get":{"summary":"List all vacancies","tags":["Vacancies"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Vacancy"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-vacancies","parameters":[{"schema":{"type":"string","enum":["drafting","opened","closed","held","cancelled","archived"]},"in":"query","name":"status[]"},{"$ref":"#/components/parameters/Page-param"},{"schema":{"type":"integer"},"in":"query","description":"An array of vacancy tag IDs to filter vacancies by","name":"tag_ids[]"}]},"parameters":[],"post":{"summary":"Create a vacancy","operationId":"post-recruitment-vacancies","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Vacancy","x-stoplight":{"id":"wtfpd3csddls0"}}}}}}}},"description":"Creates a vacancy","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","maxLength":100},"description":{"type":"string"},"department_id":{"type":"integer"},"location_id":{"type":"integer"},"position_id":{"type":"integer"},"division_id":{"type":"integer"},"recruitment_pipeline_id":{"type":"integer"},"employment_type_id":{"type":"integer"},"hiring_lead_user_id":{"type":"integer"},"currency_code":{"type":"string"},"min_salary":{"type":"integer"},"max_salary":{"type":"integer"}},"required":["title","description","department_id","location_id","recruitment_pipeline_id","employment_type_id","hiring_lead_user_id"]}}}},"tags":["Vacancies"]}},"/recruitment/vacancies/{id}":{"get":{"summary":"Get a vacancy","tags":["Vacancies"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Vacancy","x-stoplight":{"id":"jq94lzegbzxnb"}}}}}}}},"operationId":"get-recruitment-vacancy","parameters":[],"description":"Get a vacancy"},"parameters":[{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"delete":{"summary":"Delete a vacancy","operationId":"delete-recruitment-vacancies-id","responses":{"204":{"description":"No Content"}},"description":"Delete a vacancy","tags":["Vacancies"]},"put":{"summary":"Update a vacancy","operationId":"put-recruitment-vacancies-id","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Vacancy","x-stoplight":{"id":"s65yazd5soncp"}}}}}}}},"description":"Update a vacancy","tags":["Vacancies"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","x-stoplight":{"id":"dsig7009aglv3"}},"description":{"type":"string","x-stoplight":{"id":"68kmuisxte1aq"}},"department_id":{"type":"integer","x-stoplight":{"id":"fzevucz0io9jd"}},"location_id":{"type":"integer","x-stoplight":{"id":"6yyjdr3vjmjyl"}},"position_id":{"type":"integer","x-stoplight":{"id":"p0ntpz7j9v58t"}},"division_id":{"type":"integer","x-stoplight":{"id":"9sna1ddyc9zo1"}},"recruitment_pipeline_id":{"type":"integer","x-stoplight":{"id":"5bflu2drmlhr7"}},"employment_type_id":{"type":"integer","x-stoplight":{"id":"ymnt0c6woscn2"}},"hiring_lead_user_id":{"type":"integer","x-stoplight":{"id":"m9304l8xc8040"}},"currency_code":{"type":"string","x-stoplight":{"id":"yv5nnw8xeutdz"}},"min_salary":{"type":"integer","x-stoplight":{"id":"s2mzlk8zibpb8"}},"max_salary":{"type":"integer","x-stoplight":{"id":"ks1waxomzhqnk"}}}}}}}}},"/recruitment/vacancy_fields":{"get":{"summary":"List vacancy fields","tags":["Vacancies"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/VacancyField"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-vacancy-fields","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"parameters":[]},"/recruitment/sources":{"get":{"summary":"List sources","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Source"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-sources","tags":["Candidates"],"parameters":[{"$ref":"#/components/parameters/Page-param"}]},"parameters":[]},"/employee_fields":{"get":{"summary":"List employee fields","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeField"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-employee-fields","description":"","tags":["Employees"],"parameters":[{"$ref":"#/components/parameters/Page-param"}]}},"/employee_fields/{internal_name}/options":{"parameters":[{"schema":{"type":"string"},"name":"internal_name","in":"path","required":true,"description":"Internal name or ID of employee field"}],"post":{"summary":"Create an employee field option","tags":["Employees"],"responses":{"201":{"description":"Created"}},"operationId":"create-employee-field-option","x-stoplight":{"id":"mkz2lw6pqpiuu"},"description":"Creates an employee field option against an employee field type of single select or multiple select","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"string","x-stoplight":{"id":"f7djur8lb8foo"}}}}}}}}},"/employee_fields/{internal_name}/options/{id}":{"parameters":[{"schema":{"type":"string"},"name":"internal_name","in":"path","required":true,"description":"Internal name or ID of employee field"},{"schema":{"type":"integer"},"name":"id","in":"path","required":true,"description":"ID of the employee field option"}],"put":{"summary":"Update an employee field option","tags":["Employees"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","x-stoplight":{"id":"2rp67wabm6ffk"}},"value":{"type":"string","x-stoplight":{"id":"3s213gqtkxioc"}}}}}}}},"operationId":"update-employee-field-option","x-stoplight":{"id":"oa8h79y55co4l"},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"string","x-stoplight":{"id":"a8usrfj016enh"}}}}}}},"description":"Updates an employee field option against an employee field type of single select or multiple select"},"delete":{"summary":"Delete an employee field option","tags":["Employees"],"responses":{"204":{"description":"No Content"}},"operationId":"delete-employee-field-option","x-stoplight":{"id":"jbibflhyor9mj"},"description":"Deletes an employee field option against an employee field type of single select or multiple select"}},"/employee_tables":{"get":{"summary":"List employee tables","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeTable"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"list-employee-tables","description":"","tags":["Employees"],"parameters":[{"$ref":"#/components/parameters/Page-param"}],"x-stoplight":{"id":"urgmthk0b7689"}},"parameters":[]},"/employee_tables/{internal_name}/columns":{"get":{"summary":"List an employee table columns","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","x-stoplight":{"id":"3mgawaomz12ty"},"items":{"x-stoplight":{"id":"ryjgrn12l7l7i"},"type":"object","properties":{"id":{"type":"integer","x-stoplight":{"id":"tw1spyuas5lk9"}},"name":{"type":"string","x-stoplight":{"id":"7apjkq7ic3ysm"}},"internal_name":{"type":"string","x-stoplight":{"id":"rrfy3lxq7g3oq"}},"type":{"type":"string","x-stoplight":{"id":"8xic9thosicsg"}}}}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"list-employee-table-columns","description":"","parameters":[{"$ref":"#/components/parameters/Page-param"}],"x-stoplight":{"id":"fe6zj4i5zoj8x"},"tags":["Employees"]},"parameters":[{"schema":{"type":"string"},"name":"internal_name","in":"path","required":true}]},"/employee_tables/{table_name}/columns/{column_name}/options":{"parameters":[{"schema":{"type":"string"},"name":"table_name","in":"path","required":true,"description":"Internal name or ID of the table"},{"schema":{"type":"string"},"name":"column_name","in":"path","required":true,"description":"Internal name of ID of the table column"}],"post":{"summary":"Create an employee table column option","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","x-stoplight":{"id":"2lrdpaevzr0ce"},"properties":{"id":{"type":"integer","x-stoplight":{"id":"ynj5fuyrbd7wf"}},"value":{"type":"string","x-stoplight":{"id":"i3k8o8jlohq6c"}}}}}}}}}},"operationId":"create-employee-table-column-option","x-stoplight":{"id":"lp2146jloeqnz"},"tags":["Employees"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"string","x-stoplight":{"id":"0l9yhpiyq4445"}}}}}}}},"get":{"summary":"List employee table column options","tags":["Employees"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","x-stoplight":{"id":"pdy2m4y733rmv"},"properties":{"id":{"type":"integer","x-stoplight":{"id":"kg4l5va45lzf0"}},"value":{"type":"string","x-stoplight":{"id":"dillycjtxetuj"}}}},"metadata":{"$ref":"#/components/schemas/Pagination","x-stoplight":{"id":"emr71t9wm1lh4"}}}}}}}},"operationId":"list-employee-table-column-options","x-stoplight":{"id":"tbew4jnvmsovj"},"description":"List the options available for an employee table column type of Single Select and Multi Select types"}},"/employee_tables/{table_name}/columns/{column_name}/options/{id}":{"parameters":[{"schema":{"type":"string"},"name":"table_name","in":"path","required":true,"description":"Internal name or ID of the table"},{"schema":{"type":"string"},"name":"column_name","in":"path","required":true,"description":"Internal name or ID of the table column"},{"schema":{"type":"integer"},"name":"id","in":"path","required":true,"description":"ID of the table column option"}],"put":{"summary":"Update an employee table column option","tags":["Employees"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","x-stoplight":{"id":"zvzxyty5qo33n"}},"value":{"type":"string","x-stoplight":{"id":"1k5h4tasv5ik4"}}}}}}}},"operationId":"update-employee-table-column-option","x-stoplight":{"id":"337t5932gfh4d"},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"string","x-stoplight":{"id":"vk0rw53ipjrdo"}}}}}}}},"delete":{"summary":"Delete an employee table column option","tags":["Employees"],"responses":{"204":{"description":"No Content"}},"operationId":"delete-employee-table-column-option","x-stoplight":{"id":"hxm571lgtsx3a"}}},"/employees/{employee_id}/positions":{"parameters":[{"schema":{"type":"number"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"post":{"summary":"Create an employee position","operationId":"post-employees-id-positions","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EmployeePosition","x-stoplight":{"id":"4hqh465gvnn89"}}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["effective_from"],"properties":{"effective_from":{"type":"string","format":"date","pattern":"YYYY-MM-DD"},"position_id":{"type":"integer"},"location_id":{"type":"integer"},"division_id":{"type":"integer"},"department_id":{"type":"integer"},"reporting_to_id":{"type":"integer"},"job_level_id":{"type":"integer","x-stoplight":{"id":"9og6pdqhuetyw"}}}}}}},"tags":["Employees"]},"get":{"summary":"List employee positions","operationId":"get-employees-id-positions","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeePosition"}}}}}}}},"tags":["Employees"],"parameters":[]}},"/recruitment/candidates":{"get":{"summary":"List candidates","tags":["Candidates"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CandidateSimple"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}},"examples":{}}}}},"operationId":"get-recruitment-candidates","requestBody":{"content":{}},"parameters":[{"schema":{"type":"integer"},"in":"query","name":"pipeline_stage_id","description":"Filter candidates by pipeline stage ID"},{"schema":{"type":"string"},"in":"query","name":"skills[]","description":"Filter candidates by skills. Multiple skills can be provided using an ampersand separated list"},{"schema":{"type":"integer"},"in":"query","name":"vacancy_ids[]","description":"Filter candidates by vacancy IDs. Multiple vacancy ids can be provided using an ampersand separated list"},{"schema":{"type":"string"},"in":"query","name":"email","description":"Filter candidates by email"},{"schema":{"type":"string"},"in":"query","name":"created_at[gte]","description":"Filter candidates created on or after this value."},{"schema":{"type":"string"},"in":"query","name":"created_at[lte]","description":"Filter employees created on or before this value."},{"schema":{"type":"string"},"in":"query","name":"updated_at[gte]","description":"Filter candidates updated on or after this value."},{"schema":{"type":"string"},"in":"query","name":"updated_at[lte]","description":"Filter employees updated on or before this value."},{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create a candidate","operationId":"post-recruitment-candidates","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Candidate"}}}}}}},"description":"","tags":["Candidates"],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","required":["full_name"],"properties":{"full_name":{"type":"string"},"email":{"type":"string"},"date_of_birth":{"type":"string","format":"date"},"position":{"type":"string"},"resume":{"type":"string","description":"Binary upload data","format":"binary"},"source_id":{"type":"integer"},"location":{"type":"string"},"phone_numbers[]":{"type":"array","items":{"type":"string","x-stoplight":{"id":"oxhyhxjlxthjf"}}},"skills[]":{"type":"array","items":{"type":"string","x-stoplight":{"id":"9pnnn4uct2800"}}},"urls[]":{"type":"array","items":{"type":"string","x-stoplight":{"id":"c3dros9qvd8cm"}}},"telegram_username":{"type":"string","x-stoplight":{"id":"mwi8jdb1gufee"}},"cover_letter":{"type":"string","x-stoplight":{"id":"7yx84tx0ltf07"}}}},"examples":{}}},"description":""}}},"/recruitment/movements":{"get":{"summary":"List candidate movements","tags":["Candidates"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","x-stoplight":{"id":"abzfn75zl9bm6"},"items":{"x-stoplight":{"id":"vz8c4t11kvs32"},"type":"object","required":["vacancy_application","stage"],"properties":{"vacancy_application":{"type":"object","x-stoplight":{"id":"z95z706x20ybx"},"properties":{"id":{"type":"integer","x-stoplight":{"id":"wqijcvcgg0te4"}},"applicant_id":{"type":"integer","x-stoplight":{"id":"dyym0uagy8rh9"}},"vacancy_id":{"type":"integer","x-stoplight":{"id":"4teyye30c831w"}}}},"stage":{"type":"object","x-stoplight":{"id":"ijyo51z9dbgen"},"properties":{"id":{"type":"integer","x-stoplight":{"id":"9leinaehrvmkf"}},"name":{"type":"string","x-stoplight":{"id":"xu5tm7rz6hgrz"}}}},"created_by":{"type":"object","x-stoplight":{"id":"664p48i3a6ip9"},"properties":{"id":{"type":"integer","x-stoplight":{"id":"y6a9fxh009s43"}},"full_name":{"type":"string","x-stoplight":{"id":"u2dqcb876qswj"}},"email":{"type":"string","x-stoplight":{"id":"rsojy0lblpmpn"},"format":"email"}}},"entered_at":{"type":"string","x-stoplight":{"id":"nvj033gknrysk"},"format":"date-time"},"exited_at":{"type":"string","x-stoplight":{"id":"119wg9i4nso6w"},"format":"date-time"},"duration":{"type":"integer","x-stoplight":{"id":"hgnyyypb3qk12"},"description":"Time in seconds candidate spent in stage of the pipeline"},"created_at":{"type":"string","x-stoplight":{"id":"6cspmjfbds89n"},"format":"date-time"}}}},"metadata":{"$ref":"#/components/schemas/Pagination"}}},"examples":{}}}}},"operationId":"get-recruitment-candidate-movements","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"x-stoplight":{"id":"w6paqj7jfgy9d"},"parameters":[{"schema":{"type":"integer"},"in":"query","name":"vacancy_ids[]","description":"An array of vacancy IDs to filter movements by"},{"schema":{"type":"integer"},"in":"query","name":"applicant_ids[]","description":"An array of applicant IDs to filter movements by"}]},"parameters":[]},"/recruitment/candidate_fields":{"get":{"summary":"List candidate fields","tags":["Candidates"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CandidateField"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}},"examples":{}}}}},"operationId":"get-recruitment-candidate-fields","requestBody":{"content":{}},"description":""},"parameters":[]},"/recruitment/candidates/{id}":{"get":{"summary":"Get a candidate","tags":["Candidates"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Candidate"}}},"examples":{}}}}},"operationId":"get-recruitment-candidate","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}}},"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true}],"put":{"summary":"Update a candidate","operationId":"put-recruitment-candidates-id","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Candidate"}}}}}}},"description":"","requestBody":{"content":{"application/json":{"schema":{"type":"object","x-examples":{"example-1":{"full_name":"string","email":"user@example.com","phone_numbers":["string"],"date_of_birth":"2019-08-24","position":"string","resume":"string","source_id":0,"urls":["string"],"skills":["string"],"location":"string"}},"properties":{"full_name":{"type":"string","minLength":1},"email":{"type":"string","minLength":1},"phone_numbers":{"type":"array","items":{"type":"string"}},"date_of_birth":{"type":"string","minLength":1},"position":{"type":"string","minLength":1},"resume":{"type":"string","minLength":1,"format":"binary"},"source_id":{"type":"integer"},"urls":{"type":"array","items":{"type":"string"}},"skills":{"type":"array","items":{"type":"string"}},"location":{"type":"string","minLength":1},"skype_username":{"type":"string","x-stoplight":{"id":"cpj1ov8ay0b8a"}},"telegram_username":{"type":"string","x-stoplight":{"id":"h7wx0k0ogagbd"}},"cover_letter":{"type":"string","x-stoplight":{"id":"9i94znqurdnh8"}}}}}}},"tags":["Candidates"]},"delete":{"summary":"Delete a candidate","operationId":"delete-recruitment-candidates-id","responses":{"200":{"description":"OK"}},"tags":["Candidates"]}},"/recruitment/disqualify_reasons":{"get":{"summary":"List all disqualify reasons","tags":["Disqualify reasons"],"responses":{"200":{"description":"OK","content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"data":{"type":"array","x-stoplight":{"id":"umtsslsz3yree"},"items":{"$ref":"#/components/schemas/DisqualifyReason","x-stoplight":{"id":"rsvt4ezqylk20"}}},"metadata":{"$ref":"#/components/schemas/Pagination","x-stoplight":{"id":"0nq6323wrn7w1"}}}}}}}},"operationId":"get-recruitment-disqualify_reasons","x-stoplight":{"id":"hoxhazgxtmtah"},"description":"List disqualify reasons","parameters":[{"$ref":"#/components/parameters/Page-param"}]}},"/assets":{"get":{"summary":"List assets","tags":["Assets"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Asset"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-assets","description":"","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create an asset","operationId":"post-assets","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Asset"}}}}},"description":"","tags":["Assets"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"code":{"type":"string"},"asset_category_id":{"type":"integer"},"location_id":{"type":"integer"},"serial_number":{"type":"string"},"description":{"type":"string"}},"required":["name","code","asset_category_id","location_id"]}}},"description":""}}},"/asset_categories":{"get":{"summary":"List asset categories","tags":["Assets"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/AssetCategory"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-asset_categories","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create an asset category","operationId":"post-asset_categories","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetCategory"}}}}},"description":"","tags":["Assets"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","icon"],"properties":{"name":{"type":"string"},"icon":{"type":"string","x-stoplight":{"id":"k262oc6nk467a"},"example":"fas fa-laptop","description":"\"fas fa-laptop\",\n\"fas fa-desktop\",\n\"far fa-mobile\",\n\"far fa-tv\",\n\"far fa-tablet\",\n\"far fa-watch-smart\",\n\"far fa-print\",\n\"far fa-chair-office\",\n\"far fa-laptop-mobile\""}}}}}}}},"/assets/{id}":{"parameters":[{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"put":{"summary":"Update an asset","operationId":"put-assets-id","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Asset"}}}}},"tags":["Assets"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"code":{"type":"string"},"asset_category_id":{"type":"integer"},"location_id":{"type":"integer"},"serial_number":{"type":"string"},"description":{"type":"string"}},"required":["name","code","asset_category_id","location_id"]}}}}},"delete":{"summary":"Delete an asset","operationId":"delete-assets-id","responses":{"204":{"description":"No Content"}},"tags":["Assets"]},"get":{"summary":"Get an asset","operationId":"get-assets-id","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Asset"}}}}}}},"tags":["Assets"]}},"/employees/{employee_id}/positions/{id}":{"parameters":[{"schema":{"type":"number"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"},{"schema":{"type":"number"},"name":"id","in":"path","required":true,"description":"Employee Position ID"}],"put":{"summary":"Update an employee position","operationId":"put-employees-id-positions-id-employee_id","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EmployeePosition"}}}}}}},"tags":["Employees"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["effective_from"],"properties":{"effective_from":{"type":"string","format":"date","pattern":"YYYY-MM-DD"},"position_id":{"type":"integer"},"location_id":{"type":"integer"},"reporting_to_id":{"type":"integer"},"department_id":{"type":"integer"},"division_id":{"type":"integer"},"job_level_id":{"type":"integer","x-stoplight":{"id":"1iqcye9fycagl"}}}}}}}},"delete":{"summary":"Delete an employee position","operationId":"delete-employees-employee_id-positions-id","responses":{"204":{"description":"No Content"}},"tags":["Employees"]}},"/asset_assignments":{"post":{"summary":"Create an asset assignment","operationId":"post-asset_assignments","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AssetAssignment"}}}}}}},"description":"","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"asset_id":{"type":"integer"},"issued_on":{"type":"string","format":"date"},"returned_on":{"type":"string","format":"date"},"user_id":{"type":"integer"}},"required":["asset_id","issued_on","user_id"]}}}},"tags":["Assets"]}},"/asset_assignments/{id}":{"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true}],"put":{"summary":"Update an asset assignment","operationId":"put-asset_assignments-id","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AssetAssignment"}}}}}}},"tags":["Assets"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"asset_id":{"type":"integer"},"issued_on":{"type":"string"},"returned_on":{"type":"string"},"user_id":{"type":"integer"}}}}}}},"delete":{"summary":"Delete an asset assignment","operationId":"delete-asset_assignments-id","responses":{"204":{"description":"No Content"}},"tags":["Assets"]}},"/employees/{employee_id}/terminate":{"parameters":[{"schema":{"type":"string"},"name":"employee_id","in":"path","required":true}],"post":{"summary":"Terminate an employee","operationId":"post-employees-id-terminate","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}},"tags":["Employees"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"effective_from":{"type":"string","format":"date"},"termination_type_id":{"type":"integer"},"termination_reason_id":{"type":"integer"},"eligible_for_rehire":{"type":"boolean"},"comment":{"type":"string"}},"required":["effective_from","termination_type_id","termination_reason_id","eligible_for_rehire"]}}}}}},"/termination_types":{"get":{"summary":"List termination types","tags":["Termination types"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TerminationType"}}}}}}}},"operationId":"get-termination_types","description":"","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create termination type","tags":["Termination types"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TerminationType","x-stoplight":{"id":"tijapf9icqxrz"}}}}}}}},"operationId":"post-termination_types","x-stoplight":{"id":"jf9cghnb3lwjc"},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","x-stoplight":{"id":"184aifkzpgbc6"}}}}}}}}},"/termination_types/{termination_type_id}":{"parameters":[{"schema":{"type":"string"},"name":"termination_type_id","in":"path","required":true}],"put":{"summary":"Update termination type","tags":["Termination types"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TerminationType","x-stoplight":{"id":"4t5xjwgb3z3su"}}}}}}}},"operationId":"put-termination_types-termination_type_id","x-stoplight":{"id":"fztxqxoravt1o"},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","x-stoplight":{"id":"vfup86kr6nlc8"}}}}}}}},"delete":{"summary":"Delete termination type","tags":["Termination types"],"responses":{"204":{"description":"No Content"}},"operationId":"delete-termination_types-termination_type_id","x-stoplight":{"id":"fbyh2g13lewyy"}}},"/termination_reasons":{"get":{"summary":"List termination reasons","tags":["Termination reasons"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TerminationReason"}}}}}}}},"operationId":"get-termination_reasons","description":"","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create termination reason","tags":["Termination reasons"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TerminationReason","x-stoplight":{"id":"rt4jlhfzz25p3"}}}}}}}},"operationId":"post-termination_reasons","x-stoplight":{"id":"wd5qnxyyffgm7"}}},"/termintation_reasons/{termination_reason_id}":{"parameters":[{"schema":{"type":"string"},"name":"termination_reason_id","in":"path","required":true}],"put":{"summary":"Update termination reason","tags":["Termination reasons"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TerminationReason","x-stoplight":{"id":"6we85aypwzg1a"}}}}}}}},"operationId":"put-termintation_reasons-termination_reason_id","x-stoplight":{"id":"95plbjdfxx6ic"},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","x-stoplight":{"id":"9kfw03zu7j58a"}}}}}}}},"delete":{"summary":"Delete termination reason","tags":["Termination reasons"],"responses":{"204":{"description":"No Content"}},"operationId":"delete-termintation_reasons-termination_reason_id","x-stoplight":{"id":"2nd8s1sa8uni6"}}},"/employees/{employee_id}/employment_statuses":{"parameters":[{"schema":{"type":"string"},"name":"employee_id","in":"path","required":true}],"get":{"summary":"List employee employment statuses","tags":["Employees"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeEmploymentStatus"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-employees-id-employment_statuses","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create an employee employment statuses","operationId":"post-employees-id-employment_statuses","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EmployeeEmploymentStatus"}}}}}}},"tags":["Employees"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["effective_from"],"properties":{"effective_from":{"type":"string","format":"date","pattern":"YYYY-MM-DD"},"working_pattern_id":{"type":"integer"},"probation_policy_id":{"type":"integer"},"employment_type_id":{"type":"integer"},"comment":{"type":"string"}}}}}}}},"/employees/{employee_id}/employment_statuses/{id}":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"},{"schema":{"type":"integer"},"name":"id","in":"path","required":true,"description":"Employment Status ID"}],"put":{"summary":"Update an employee employment status","operationId":"put-employees-employee_id-employment_statuses-id","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EmployeeEmploymentStatus"}}}}}}},"tags":["Employees"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"effective_from":{"type":"string","format":"date"},"working_pattern_id":{"type":"integer"},"probation_policy_id":{"type":"integer"},"employment_type_id":{"type":"integer"},"comment":{"type":"string"}},"required":["effective_from"]}}}}},"delete":{"summary":"Delete an employee employment status","operationId":"delete-employees-employee_id-employment_statuses-id","responses":{"204":{"description":"No Content"}},"tags":["Employees"]}},"/probation_policies":{"get":{"summary":"List probation policies","tags":["Probation policies"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","x-examples":{"Example 1":{"data":[{"id":1,"name":"ab","length":84,"created_at":"2024-01-19T15:42:56.303Z","updated_at":"2024-01-19T15:42:56.303Z"}],"metadata":{"pagination":{"page":1,"pages":1,"count":1,"items":1}}}},"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ProbationPolicy"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-probation_policies","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create a probation policy","tags":["Probation policies"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ProbationPolicy","x-stoplight":{"id":"o7rg3oryodtbk"}}}}}}}},"operationId":"post-probation_policies","x-stoplight":{"id":"unz618xo9lyq6"},"parameters":[{"schema":{"type":"string"},"in":"query","name":"name"},{"schema":{"type":"integer"},"in":"query","name":"length"}]}},"/calendars":{"get":{"summary":"List company calendar events","tags":["Calendars"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"starts_on":{"type":"string","format":"date"},"ends_on":{"type":"string","format":"date"},"type":{"type":"string"},"title":{"type":"string"},"data":{"type":"object"}},"required":["starts_on","ends_on","type","title"]}}}}}},"operationId":"get-calendars","description":"","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"starts_on":{"type":"string","format":"date","description":"Defaults to start of current month"},"ends_on":{"type":"string","format":"date","description":"Defaults to end of current month"}}}}}}}},"/recruitment/pipelines":{"get":{"summary":"List vacancy pipelines","tags":["Vacancies"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/VacancyPipeline"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-recruitment-piplines","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{}}}}}},"parameters":[]},"/employees/{id}/leave_types":{"parameters":[{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"get":{"summary":"List employee leave types","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeLeaveType"}}}}}}}},"operationId":"get-employees-id-employee_leave_types","tags":["Leaves"]},"post":{"summary":"Assign a leave policy to an employee","operationId":"post-employees-id-employee_leave_types","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EmployeeLeaveType"}}}}}}},"description":"Assigns a new leave policy to an employee","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["leave_type_id","leave_type_policy_id"],"properties":{"leave_type_id":{"type":"integer"},"leave_type_policy_id":{"type":"integer"},"effective_on":{"type":"string","format":"date","pattern":"YYYY-MM-DD"}}}}}},"tags":["Leaves"]}},"/teams":{"get":{"summary":"List teams","tags":["Teams"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Team"}},"metadata":{"$ref":"#/components/schemas/Pagination"}}}}}}},"operationId":"get-teams","parameters":[{"$ref":"#/components/parameters/Page-param"}]},"post":{"summary":"Create a team","operationId":"post-teams","responses":{"200":{"description":"OK"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"team_lead_id":{"type":"integer"},"user_ids[]":{"type":"number"}},"required":["name","team_lead_id"]}}}},"tags":["Teams"]}},"/teams/{team_id}/team_members":{"parameters":[{"schema":{"type":"string"},"name":"team_id","in":"path","required":true}],"post":{"summary":"Create a team member","operationId":"post-teams-id-team_members","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMember"}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"user_id":{"type":"integer"}}}}}},"tags":["Teams"]}},"/teams/{id}":{"parameters":[{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"put":{"summary":"Update a team","operationId":"put-teams-id","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Team"}}}}},"tags":["Teams"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"team_lead_id":{"type":"integer"}}}}}}},"delete":{"summary":"Delete a team","operationId":"delete-teams-id","responses":{"200":{"description":"OK"}},"tags":["Teams"]}},"/teams/{team_id}/team_members/{id}":{"parameters":[{"schema":{"type":"string"},"name":"team_id","in":"path","required":true},{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"delete":{"summary":"Delete a team member","operationId":"delete-teams-team_id-team_members-id","responses":{"200":{"description":"OK"}},"tags":["Teams"]}},"/employees/{employee_id}/leave_types/{id}":{"parameters":[{"schema":{"type":"string"},"name":"employee_id","in":"path","required":true},{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"delete":{"summary":"Delete an employee leave type","operationId":"delete-employees-employee_id-leave_types-id","responses":{"204":{"description":"No Content"}},"description":"Removes leave type and policy from given employee ID","tags":["Leaves"]}},"/employees/{id}/update_leave_balance":{"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true}],"put":{"summary":"Update an employee leave balance","operationId":"put-employees-id-update_leave_balance","responses":{"200":{"description":"OK"}},"description":"Updates the employee leave balance for a leave policy that is assigned to an employee.  Passing in the balance will create an adjustment to the current balance to meet the new balance provided.","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["balance"],"properties":{"leave_type_id":{"type":"integer"},"employee_leave_type_id":{"type":"integer","x-stoplight":{"id":"k350qcxn2b9y2"}},"balance":{"type":"number","description":"The amount of days/hours to set as the leave balance."},"on_demand_balance":{"type":"number","x-stoplight":{"id":"5hjif2nhmlvnt"},"description":"The amount of days/hours to set as the on demand leave balance.  Must be less than or equal to the balance."}}}}}},"tags":["Leaves"]}},"/employees/{id}/activate":{"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true}],"post":{"summary":"Activate an employee","operationId":"post-employees-id-activate","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Employee"}}}}}}},"tags":["Employees"]}},"/recruitment/vacancies/{vacancy_id}/pipeline":{"parameters":[{"schema":{"type":"integer"},"name":"vacancy_id","in":"path","required":true}],"get":{"summary":"Get vacancy pipeline statistics","tags":["Vacancies"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"vacancy_id":{"type":"integer","x-stoplight":{"id":"eoxsp5o1sdnz9"}},"pipeline_id":{"type":"integer","x-stoplight":{"id":"28mprtkg1uxuw"}},"applications_count":{"type":"integer","x-stoplight":{"id":"cnod5yllw2spq"}},"qualified_applications_count":{"type":"integer","x-stoplight":{"id":"8fgc0dle7u0ce"}},"disqualified_applications_count":{"type":"integer","x-stoplight":{"id":"lklrnqiicmsol"}},"stages":{"type":"array","x-stoplight":{"id":"9xothiy2y0wts"},"items":{"x-stoplight":{"id":"yuhmscay7l7q3"},"type":"object","properties":{"id":{"type":"integer","x-stoplight":{"id":"7wg5zzyto1q7h"}},"name":{"type":"string","x-stoplight":{"id":"pvc6k683xhgz6"}},"type":{"type":"string","x-stoplight":{"id":"0l72n2ypx9wgq"}},"qualified_applications_count":{"type":"integer","x-stoplight":{"id":"smsep0i7uaw2w"}},"disqualified_applications_count":{"type":"integer","x-stoplight":{"id":"teqydp6ithkgt"}}}}}}}}}}},"operationId":"get-vacancy-pipeline-stats","description":"Retrieve a specified vacancy's pipeline statistics.","x-stoplight":{"id":"7arxqnygkotwl"}}},"/recruitment/vacancies/{vacancy_id}/applications":{"parameters":[{"schema":{"type":"integer"},"name":"vacancy_id","in":"path","required":true}],"get":{"summary":"List vacancy applications","tags":["Vacancies"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/VacancyApplication"}}}}}}}},"operationId":"list-recruitment-candidates-applications","description":""},"post":{"summary":"Create a vacancy application","operationId":"post-recruitment-candidates-candidate_id-educations","description":"Add a new application to an vacancy","requestBody":{"content":{"application/json":{"schema":{"description":"","type":"object","x-examples":{"example-1":{"school":"wqeqweqw","name":"asasaadasd","from_year":2020,"to_year":2021,"subject":"asdasdasdasdasd","description":"asdsadaa"}},"properties":{"applicant_id":{"type":"integer"},"applicant_state_id":{"type":"integer"},"disqualify_reason_id":{"type":"integer"},"disqualified_at":{"type":"string"}},"required":["applicant_id","applicant_state_id"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/VacancyApplication"}}}}}}},"tags":["Vacancies"]}},"/recruitment/vacancies/{vacancy_id}/applications/{id}":{"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true,"description":"Vacancy application ID"},{"schema":{"type":"integer"},"name":"vacancy_id","in":"path","required":true}],"put":{"summary":"Update a vacancy application","operationId":"put-recruitment-vacancies-vacancy_id-applications-id","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/VacancyApplication"}}}}}}},"tags":["Vacancies"],"description":"Update an application for an vacancy","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"applicant_state_id":{"type":"integer"}}}}}},"deprecated":true},"get":{"summary":"Get a vacancy application","operationId":"get-recruitment-vacancies-vacancy_id-applications-id","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/VacancyApplication"}}}}}}},"tags":["Vacancies"],"description":""}},"/recruitment/vacancies/{vacancy_id}/applications/{id}/move":{"parameters":[{"schema":{"type":"integer"},"name":"id","in":"path","required":true},{"schema":{"type":"integer"},"name":"vacancy_id","in":"path","required":true}],"put":{"summary":"Move a vacancy application","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/VacancyApplication"}}}}}}},"operationId":"move-vacancy-application","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["pipeline_stage_id"],"properties":{"pipeline_stage_id":{"type":"integer"}}}}}},"tags":["Vacancies"],"x-internal":true}},"/recruitment/vacancies/{vacancy_id}/applications/{id}/disqualify":{"parameters":[{"schema":{"type":"string"},"name":"vacancy_id","in":"path","required":true},{"schema":{"type":"string"},"name":"id","in":"path","required":true}],"post":{"summary":"Disqualify a vacancy application","tags":["Vacancies"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/VacancyApplication","x-stoplight":{"id":"tt6hvqx7ufun1"}}}}}}}},"operationId":"disqualify-vacancy-application","x-stoplight":{"id":"19dtls909um6z"},"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["disqualify_reason_id"],"properties":{"disqualify_reason_id":{"type":"integer","x-stoplight":{"id":"gf4w4lrjtgjqw"}}}}}}}}},"/recruitment/candidates/{candidate_id}/notes":{"parameters":[{"schema":{"type":"integer"},"name":"candidate_id","in":"path","required":true}],"get":{"summary":"List candidate notes","tags":["Candidates"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CandidateNote"}}}}}}}},"operationId":"get-recruitment-candidates-candidate-notes","description":"","x-stoplight":{"id":"4ofzg5idwoarh"}},"post":{"summary":"Create a candidate note","operationId":"post-recruitment-candidates-candidate-notes","description":"Add a new note to an candidate","requestBody":{"content":{"application/json":{"schema":{"type":"object","x-examples":{"example-1":{"school":"wqeqweqw","name":"asasaadasd","from_year":2020,"to_year":2021,"subject":"asdasdasdasdasd","description":"asdsadaa"}},"properties":{"comment":{"type":"string","minLength":1,"x-stoplight":{"id":"cb44w0xlwiydq"}}},"required":["comment"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CandidateNote"}}}}}}},"tags":["Candidates"],"x-stoplight":{"id":"z6kn2awcdb2ea"}}},"/recruitment/candidates/{candidate_id}/educations":{"parameters":[{"schema":{"type":"integer"},"name":"candidate_id","in":"path","required":true}],"get":{"summary":"List candidate educations","tags":["Candidates"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CandidateEducation"}}}}}}}},"operationId":"get-recruitment-candidates-candidate-educations","description":""},"post":{"summary":"Create a candidate education","operationId":"post-recruitment-candidates-candidate-educations","description":"Add a new education to an candidate","requestBody":{"content":{"application/json":{"schema":{"description":"","type":"object","x-examples":{"example-1":{"school":"wqeqweqw","name":"asasaadasd","from_year":2020,"to_year":2021,"subject":"asdasdasdasdasd","description":"asdsadaa"}},"properties":{"school":{"type":"string","minLength":1},"name":{"type":"string","minLength":1},"from_year":{"type":"integer"},"to_year":{"type":"integer"},"subject":{"type":"string","minLength":1},"description":{"type":"string","minLength":1}},"required":["school","name","from_year"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CandidateEducation"}}}}}}},"tags":["Candidates"]}},"/recruitment/candidates/{candidate_id}/educations/{id}":{"parameters":[{"schema":{"type":"integer"},"name":"candidate_id","in":"path","required":true},{"schema":{"type":"integer"},"name":"id","in":"path","required":true}],"delete":{"summary":"Delete a candidate education","operationId":"delete-recruitment-candidates-candidate_id-educations","responses":{"200":{"description":"OK"}},"tags":["Candidates"]},"put":{"summary":"Update a candidate education","operationId":"put-recruitment-candidates-candidate_id-educations","description":"Update an education to a candidate","requestBody":{"content":{"application/json":{"schema":{"description":"","type":"object","x-examples":{"example-1":{"school":"wqeqweqw","name":"asasaadasd","from_year":2020,"to_year":2021,"subject":"asdasdasdasdasd","description":"asdsadaa"}},"properties":{"school":{"type":"string","minLength":1},"name":{"type":"string","minLength":1},"from_year":{"type":"integer"},"to_year":{"type":"integer"},"subject":{"type":"string","minLength":1},"description":{"type":"string","minLength":1}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CandidateEducation"}}}}}}},"tags":["Candidates"]}},"/recruitment/candidates/{candidate_id}/experiences":{"parameters":[{"schema":{"type":"integer"},"name":"candidate_id","in":"path","required":true}],"get":{"summary":"List candidate experiences","tags":["Candidates"],"operationId":"get-recruitment-candidates-candidate-experiences","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CandidateExperience"}}}}}}}},"parameters":[],"description":""},"post":{"summary":"Create a candidate experience","operationId":"post-recruitment-candidates-candidate_id-experiences","description":"Add a new experience to an candidate","requestBody":{"content":{"application/json":{"schema":{"type":"object","x-examples":{"example-1":{"title":"zxczxzx","company":"acasdasdas","starts_on":"2021-08-01","ends_on":"2021-08-01","location":"dadsasd","description":"dasdadas"}},"properties":{"title":{"type":"string","minLength":1},"company":{"type":"string","minLength":1},"starts_on":{"type":"string","minLength":1,"format":"date"},"ends_on":{"type":"string","minLength":1,"format":"date"},"location":{"type":"string","minLength":1},"description":{"type":"string","minLength":1}},"required":["title","company","starts_on"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CandidateExperience"}}}}}}},"tags":["Candidates"]}},"/recruitment/candidates/{candidate_id}/experiences/{id}":{"parameters":[{"schema":{"type":"integer"},"name":"candidate_id","in":"path","required":true},{"schema":{"type":"integer"},"name":"id","in":"path","required":true}],"put":{"summary":"Update a candidate experience","operationId":"put-recruitment-candidates-candidate_id-experiences","requestBody":{"content":{"application/json":{"schema":{"description":"","type":"object","x-examples":{"example-1":{"title":"zxczxzx","company":"acasdasdas","starts_on":"2021-08-01","ends_on":"2021-08-01","location":"dadsasd","description":"dasdadas"}},"properties":{"title":{"type":"string","minLength":1},"company":{"type":"string","minLength":1},"starts_on":{"type":"string","minLength":1},"ends_on":{"type":"string","minLength":1},"location":{"type":"string","minLength":1},"description":{"type":"string","minLength":1}}}}}},"description":"Update a experience to an candidate","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CandidateExperience"}}}}}}},"tags":["Candidates"]},"delete":{"summary":"Delete a candidate experience","operationId":"delete-recruitment-candidates-candidate_id-experiences","responses":{"200":{"description":"OK"}},"tags":["Candidates"]}},"/employees/{employee_id}/additional_compensations":{"parameters":[{"schema":{"type":"integer"},"name":"employee_id","in":"path","required":true,"description":"Employee ID"}],"get":{"summary":"List employee additional compensations","tags":["Employees"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"da
[...]
